Source: bot.service
Section: utils
Priority: optional
Maintainer: Lautaro Lorca  <lorcalautaro63@gmail.com>
Build-Depends: debhelper (>=12), unzip
Standards-Version: 4.5.0

Package: bot.service
Architecture: all
Depends: ${misc:Depends}, bsdutils, joe 
Description: el seervicio de telegram 
 Ejemplo de servicio empaquetado 
 por la mejor clase del mundo,
 que es ASIR 2. 

