[Unit]
Description=Telegram Bot ASIR
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=principal2do
ExecStart=/home/principal2do/Escritorio/ASIR/bot/bots/bot.py
